<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SearchEnginesSuite">
    <test name="GoogleTest">
        <parameter name="searchEngine" value="google" />
        <parameter name="searchQuery" value="google"/>
        <parameter name="expectedLinkText" value="google"/>
        <classes>
            <class name="com.test.selenium.SearchEngineTest" />
        </classes>
    </test>
</suite>